# Ignorar carpeta de reportes
reports/

# Ignorar archivos temporales
*.log
*.bak
*.zip

# Ignorar artefactos de PowerShell
*.ps1xml
*.psd1
*.psm1

# Ignorar configuraciones de editores
.vscode/
.idea/
